.login-form {
    background-color: #FFFFFF;
    padding: 32px;
    width: auto;
    max-width: 100%;
    min-width: 35% !important;
    border-radius: 6px;
}

.login-form-logo {
    height: 50%;
    width: 50%;
}

.login-form-title {
    font-size: 20px;
    font-weight: bold;
}

.login-form-forgot {
    float: right;
}

.login-form-remember {
    float: left;
}

.login-form-register {

}

.login-form-button {
    width: 100%;
}